<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Happy New Year</title>

		<script> const IP = "<%= IP %>" </script>
	</head>
	<body >
		<div style="width: 100vw; height: 100vh; background-color: white; position: absolute; top : 0px; left : 0px;" id="col"></div>
		<button onclick="openFullscreen()" style="width: 100vw; height: 100vh; background-color: transparent; position: absolute; top: 0px; left: 0px; border: none" type="button"></button>
		<script type="text/javascript" src="socket/socket.io.js"></script>
		<script type="text/javascript" src="client.js"></script>

	</body>
</html>